.app-container {
  display: grid;
  grid-template-columns: 260px 1fr;
  min-height: 100vh;
}

.side-bar {
  padding: 32px;
  border-right: 1px solid #ddd;
  background-color: #ffffff;
}

.main-content {
  padding: 32px;
}